{{#with data}}
<div class="card">
    <div class="card_image" style="background-image: url({{photo}});"></div>
    <h3 class="card_title">{{heading}}</h3>
    <p class="card_text">{{info}}</p>
    <a class="card_button" href="{{linkUrl}}">{{linkText}}</a>
</div>
{{/with}}